@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Sen:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Sen", "Poppins", sans-serif;
}

body {
  background: #191a1d;
  background: linear-gradient(to right, #2e2e31, #191a1d);
}

:root {
  --background-Main: #191a1d;
  --background-Main-linear: linear-gradient(to right, #2e2e31, #191a1d);
  /* 
    --main-color: #fff;
     --second-color: #fff; */
}
